@model Tuple<IEnumerable<Client>, List<Order>>

@{
    ViewData["Title"] = "Main";
}

<h1 class="text-center">Main</h1>
<br/><br />
     <div class="text-center">
         <a asp-action="ProductsList" class="btn btn-primary text-center">Товары</a>
         <a asp-action="ReviewsList" class="btn btn-primary text-center">Отзывы</a>
     </div>
<br /><br />

<table class="table container">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Адрес
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Эл. почта
            </th>
            <td>
                Время заказа
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Model.Item2.FirstOrDefault(x=> x.Id==item.OrderId).OrderTime
               
                @*@Html.DisplayFor(modelItem => item.)*@
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Order" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteOrder" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    
</table>
