@model Tuple<IEnumerable<Product>, Dictionary<int, string>, Dictionary<int, string>>
@{
    ViewData["Title"] = "List";
}

<h1 class="text-center">Все товары</h1>

<!-- Example single danger button -->

@{
    <div class="row">
        <a class="btn btn-primary mr-5" asp-action="ResetSearchresults">Показать все</a>
        <div class="btn-group  mr-5">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Марки
            </button>
            <div class="dropdown-menu">
                @foreach (var item in Model.Item2)
                {
                    @*@Html.ActionLink(item.Value, "FindByBrand", new { id = item.Key})*@
                    <a class="dropdown-item" asp-controller="Products" asp-action="FindByBrand" asp-route-brandId="@item.Key">@item.Value</a>
                }
            </div>
        </div>
        <div class="btn-group  mr-5">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Категории
            </button>
            <div class="dropdown-menu">
                @foreach (var item in Model.Item3)
                {
                    <a class="dropdown-item" asp-controller="Products" asp-action="FindByCategory" asp-route-categoryId="@item.Key">@item.Value</a>
                }
            </div>
        </div>
    </div>
    
    <div class="flex-container">
        @foreach (var product in Model.Item1)
        {
            @*@Model.Item2.FirstOrDefault(x => x.Key == product.BrandId).Value*@
            //var _brand = Model.Item2.Where(x => x.Id == product.BrandId).FirstOrDefault().Name;
            var _brand = @Model.Item2.FirstOrDefault(x => x.Key == product.BrandId).Value;
            var str = $"~/images/products/{@product.Img}";

            <div class="card m-4" style="width: 18rem;">
                @*<img src=$"~/images/products/Absorbers/{@_brand}_{@product.Model}" class="card-img-top" alt="...">*@
                <img class="card-img-top" src="~/images/products/@product.Img" width="350" height="250" alt="...">
                <div class="card-body">
                    @*@Model.Item3.FirstOrDefault(x => x.Key == product.CategoryId).Value //////// types.FirstOrDefault(x => x.Value == "one").Key*@
                    @*<h5 class="card-title">Категория: @Model.Item3.Where(x => x.Id == product.CategoryId).FirstOrDefault().CategoryName</h5>*@
                    <h5 class="card-title">Категория: @Model.Item3.FirstOrDefault(x => x.Key == product.CategoryId).Value</h5>
                    <p class="card-text">
                    <p class="card-text">
                        Бренд: @_brand<br>
                        Модель: @product.Model<br>
                        Кузов: @product.CarBody<br>
                        Цена: @product.Cost руб.<br>
                        Год производства: @product.ProductionYear<br>
                        Тип двигателя: @product.FuelType<br>
                        Объем двигателя: @product.EngineCapacity<br>
                    </p>
                    <a class="btn btn-primary" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@product.Id">Добавить в корзину</a>
                </div>
            </div>
        }
    </div>
}

