@model Tuple<IEnumerable<Product>, IEnumerable<Brand>, IEnumerable<Category>>
@{
    ViewData["Title"] = "List";
}

<h1>Все товары</h1>

<div class="flex-container">
    @{

            foreach (var product in Model.Item1)
            {
                var _brand = Model.Item2.Where(x => x.Id == product.BrandId).FirstOrDefault().Name;
                var str = $"~/images/products/{@product.Img}";
            
                <div class="card m-4" style="width: 18rem;">
                @*<img src=$"~/images/products/Absorbers/{@_brand}_{@product.Model}" class="card-img-top" alt="...">*@
                    <img class="card-img-top" src="~/images/products/@product.Img"  alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Категория: @Model.Item3.Where(x => x.Id == product.CategoryId).FirstOrDefault().CategoryName</h5>
                        <p class="card-text">
                            Бренд: @_brand<br>
                            Модель: @product.Model<br>
                            Кузов: @product.CarBody<br>
                            Цена: @product.Cost руб.<br>
                            Год производства: @product.ProductionYear<br>
                            Тип двигателя: @product.FuelType<br>
                            Объем двигателя: @product.EngineCapacity<br>
                        </p>
                        <a class="btn btn-primary" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@product.Id">Добавить в корзину</a>
                    </div>
                </div>
            }
    }
</div>
